# CDP - Unlocking Climate Solutions

A capstone project by David Slabon, Felix Seeliger, Olaf Steebrück, Tobias Seidel

## Initial data upload

### Package import

In [2]:
# data handling
import pandas as pd
import numpy as np
import os

In [3]:
def get_data(path, filename_start):
    '''a function to store the content of a directory into a pd dataframe'''
    
    # checking the contents of the directory using the os-module. 
    files = [
        file for file in os.listdir(path) 
        if file.startswith(filename_start)
        ]
    
    print(files)  
    
    # iterate through files and add to the data frame
    all_data = pd.DataFrame()
    for file in files:
        current_data = pd.read_csv(path+"/"+file)
        all_data = pd.concat([all_data, current_data])
        
    print(f'A dataframe with {all_data.shape[0]} rows and {all_data.shape[1]} columns has been created!')
    
    return all_data

In [4]:
dfc = get_data(
    path='data/cdp-unlocking-climate-solutions/Cities/Cities Responses',
    filename_start='20'
    )

['2018_Full_Cities_Dataset.csv', '2019_Full_Cities_Dataset.csv', '2020_Full_Cities_Dataset.csv']
A dataframe with 1542496 rows and 18 columns has been created!

In [21]:
dfc[['Response Answer', 'Column Number']].loc[(dfc['Question Number'] == '16.1') & (dfc['Column Number'] == 1) ]

       Response Answer  Column Number
0                  NaN              1
416                  0              1
495                100              1
1504               NaN              1
1779                 5              1
2007               NaN              1
3187               NaN              1
4011               NaN              1
4599               NaN              1
4774               NaN              1
5118               NaN              1
5735                25              1
6229               NaN              1
7370               NaN              1
7565               NaN              1
7623               NaN              1
7834               NaN              1
7918               NaN              1
7946               NaN              1
7992               NaN              1
8019               NaN              1
8341              99.8              1
8430               NaN              1
9219               NaN              1
9358               NaN              1
10192              NaN              1
10935              NaN              1
12445              NaN              1
12800               11              1
13346              NaN              1
...                ...            ...
174389             NaN              1
174617             NaN              1
174983             NaN              1
175172             NaN              1
175489             NaN              1
175768             NaN              1
176776               0              1
176958             NaN              1
177409             NaN              1
178934             NaN              1
179173             NaN              1
179212             NaN              1
179474             NaN              1
179805             NaN              1
179831              55              1
180422             NaN              1
180429             NaN              1
180515             NaN              1
181241             100              1
181359             NaN              1
181995             NaN              1
183461             NaN              1
183764             100              1
183944             NaN              1
184792              15              1
184825             NaN              1
186155             NaN              1
186246               0              1
186402             NaN              1
186767             NaN              1

[420 rows x 2 columns]

In [22]:
def question_to_col(data, QuestionNumber, ColumnNumber):
    small_df = pd.DataFrame(columns=[QuestionNumber])
    small_df[QuestionNumber] = data['Response Answer'].loc[(data['Question Number'] == QuestionNumber) & (data['Column Number'] == int(ColumnNumber))]
    return small_df

In [23]:
x = question_to_col(data=dfc, QuestionNumber='16.1', ColumnNumber='1')
x

        16.1
0        NaN
416        0
495      100
1504     NaN
1779       5
2007     NaN
3187     NaN
4011     NaN
4599     NaN
4774     NaN
5118     NaN
5735      25
6229     NaN
7370     NaN
7565     NaN
7623     NaN
7834     NaN
7918     NaN
7946     NaN
7992     NaN
8019     NaN
8341    99.8
8430     NaN
9219     NaN
9358     NaN
10192    NaN
10935    NaN
12445    NaN
12800     11
13346    NaN
...      ...
174389   NaN
174617   NaN
174983   NaN
175172   NaN
175489   NaN
175768   NaN
176776     0
176958   NaN
177409   NaN
178934   NaN
179173   NaN
179212   NaN
179474   NaN
179805   NaN
179831    55
180422   NaN
180429   NaN
180515   NaN
181241   100
181359   NaN
181995   NaN
183461   NaN
183764   100
183944   NaN
184792    15
184825   NaN
186155   NaN
186246     0
186402   NaN
186767   NaN

[420 rows x 1 columns]